@import '../../styles/base';

#introduction {
  text-align: center;
  margin: 5em auto 1em;
  width: 90%;
  letter-spacing: 2px;
  line-height: 50px;
  font-size: 1em;

  @include mq(mobile) {
    font-size: 0.75em;
    line-height: 30px;
  }

  &:after {
    content: "";
    position: relative;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    background: $gold;
    width: 70%;
    height: 10px;
  }
}

.countdown {
  clear: both;
  font-size: 2em;
  float: left;
  width: 100%;
  text-align: center;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(mobile) {
    font-size: 1.5em;
  }

  .days {
    font-size: 1.3em;
    padding: 0 0.5em;

    @include mq(mobile) {
      display: block;
      width: 100%;
    }
  }
}
