@import '../styles/base';

.hide {
  display: none;
}

.show {
  display: block;
}

#navigation {
  margin: 1em 0;
  float: left;
  width: 520px;
  clear: both;

  ul {
    li {
      list-style-type: none;
    }
  }
}
