@import '../../styles/base';

#featured-video {
  position: relative;
  background-position: 50% 40%;
  background-size: cover;
  height: 600px;
  left: 0;
  top: 0;
  right: 50px;
  width: 100%;

  h2 {
    position: relative;
    z-index: 3;
    font-weight: 200;
    text-align: center;
    color: $white;
    letter-spacing: 2px;
    top: 60px;
  }

  #video-player {
    position: absolute;
    z-index: 3;
    margin: 0 auto;
    width: 400px;
    height: 200px;
    left: 0;
    right: 0;
    top: 130px;
    width: 650px;
    height: 365px;
  }

  .video-bg {
    background: linear-gradient(0deg, $black, rgba($black, 0.4));
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

@include mq(mobile) {
  #featured-video {
    width: 80%;
    height: auto;

    iframe {
      width: 100%;
      max-height: 280px;
    }
  }
}
